/* 
    Web Design Group Project
    Bishownath Dhakal and Yadab Neupane
*/

body {
    margin: 0%;
    max-width: 100%;
}


.bg-image {
    max-width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/customers.jpeg");
    /* background-image: url("../images/customers.jpeg"); */
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1000px;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.nav {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    /* transition: 0.7s all; */
}

/* .nav ul li {
    display: flex;
    flex-direction: column;
} */

/* navigation bar with a tag */
.nav-link {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    font-size: xx-large;
    filter: alpha(opacity=50);

}

.nav-link:hover {
    color: #000;
    background-color: beige;
    border-radius: 8px 20px;
}

#logo_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80px;
    fill: transparent;
    color: #fff;
    margin-top: 15%;
    max-width: 100%;
}

.font_icon {
    background-color: #fff;
    padding: 5px;
    border-radius: 30px;
    font-size: 40px;
    margin-right: 20px;
}

.icons {
    margin-top: 20%;
}

i {
    width: 50px;
    text-decoration: solid;
    color: black;
}

article {
    padding: 2%;
    margin: 2%;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.sideBySide {
    display: flex;
    flex-direction: row;
}

.left_image_section {
    width: 50%;
}

.imageLeft {
    background-image: url("../images/customers.jpeg");
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.right_menu_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.menu {
    display: flex;

    justify-content: center;
}

table {
    border-collapse: collapse;
    align-self: center;
    width: 20%;
}

footer {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_location,
.footer_opening_time,
.footer_contact {
    display: flex;
    flex-direction: column;
    padding: 100px;
    font-size: xx-large;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}